{% extends "base.html" %}

{% block content %}
    <h1>You are viewing game #{{ game.id }}.</h1>
    
    <h3>Launch Pad:</h3>
    <p>Command module {{ commandmodule }}</p>
    <p>Life Support {{ lifesupport }}</p>
    <p>Sensors {{ sensors }}</p>
    <p>Fuel Tanks {{ fueltanks }}</p>
    <p>Engines {{ engines }}</p>
    
    <h3>Hands:</h3>
    <table border=1>
        <tr><td>Player</td><td>Card 1</td><td>Card 2</td><td>Card 3</td><td>Card 4</td><td>Card 5</td></tr>
            {% for hand in hands %}
                <tr><td>{{ hand.player.username }}</td>
                    {% for card in hand.card_set.all %}
                        <td>{{ card.get_suit_display }} {{ card.number }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            {% if user in game.players.all %}
                <tr><td>You</td><td>?</td><td>?</td><td>?</td><td>?</td><td>?</td></tr>
            {% endif %}
            </tr>
    </table>
    
    
    <p>Draw Pile: {{ game.drawpile.card_set.count }} cards remaining</p>
    <p>Discard Pile: {{ game.discardpile.card_set.count }} cards</p>
    <p>{{ game.clocks }} clocks remaining</p>
    <p>{{ game.fuses }} fuses remaining<p>
    {% if user.is_authenticated and not turn %}
        <br/><br/>
        <p>Invite player:</p>
        <form action="{% url 'launch:game' game.pk %}" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add" />
        </form>
        <p><a href="{% url 'launch:deal' game.pk %}">Deal!</a>
    {% elif user.is_authenticated and user == turn %}
        <p>Give a hint</p>
        <p>Discard</p>
        <p>Play a card</p>
    {% endif %}
{% endblock %}
